<%- include('template/header') %>
		<div id="left-sidebar" class="sidebar ">
			<h5 class="brand-name">RellXyz APIs <a href="javascript:void(0)" class="menu_option float-right"><i class="icon-grid font-16" data-toggle="tooltip" data-placement="left" title="Grid & List Toggle"></i></a></h5>
			<nav id="left-sidebar-nav" class="sidebar-nav">
				<ul class="metismenu">
					<li class="g_heading">Menu Utama</li>
					<li ><a href="/dashboard"><i class="icon-home"></i><span>Dashboard</span></a></li>                        
					<li><a href="javascript:void(0)" class="nav-link icon theme_btn"><i class="icon-diamond"></i><span>Pricing</span></a></li>
					<li><a href="javascript:void(0)" class="nav-link user_btn"><i class="icon-user"></i><span>Profile</span></a></li>
					<li><a href="javascript:void(0)" class="nav-link icon settingbar"><i class="icon-settings"></i><span>Setting</span></a></li>
					
					<li class="g_heading">Menu Feature</li>
					<li class="active"><a href="/ai"><i class="icon-ghost"></i><span>AI</span></a></li>
					<li><a href="/animanga"><i class="icon-eye"></i><span>Anime & Manga</span></a></li>
					<li><a href="/download"><i class="icon-cloud-download"></i><span>Downloader</span></a></li>
					<li><a href="/random"><i class="icon-emoticon-smile"></i><span>Random</span></a></li>
					<li><a href="/news"><i class="icon-fire"></i><span>News</span></a></li>
					<li><a href="/search"><i class="icon-magnifier"></i><span>Search</span></a></li>
					<li><a href="/textpro"><i class="icon-energy"></i><span>Text Pro</span></a></li>
					<li><a href="/photooxy"><i class="icon-camera"></i><span>Photo Oxy</span></a></li>
					<li><a href="/canvas"><i class="icon-map"></i><span>Canvas</span></a></li>
					<li><a href="/maker"><i class="icon-pencil"></i><span>Maker</span></a></li>
					<li><a href="/stalking"><i class="icon-support"></i><span>Stalking</span></a></li>
					<li><a href="/other"><i class="icon-layers"></i><span>Others</span></a></li>
					<li class="g_heading">Copyright By Cham</li>
				</ul>
			</nav>        
		</div>
	
		<div class="page">
			<div id="page_top" class="section-body">
				<div class="container-fluid">
					<div class="page-header">
						<div class="left">
							<h1 class="page-title">Dashboard</h1>                  
						</div>
						<div class="right">
							<div class="notification d-flex">
								<div class="dropdown d-flex">
									<a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-1" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="badge badge-success nav-unread"></span></a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow dark-mode">
										<ul class="right_chat list-unstyled p-0 dark-mode">
											<center>
												<iframe src="https://www5.cbox.ws/box/?boxid=944386&boxtag=LzAiPD" width="350" height="400" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>	
											  </center>                      
										</ul>
										<div class="dropdown-divider"></div>
									</div>
								</div>
								<div class="dropdown d-flex">
									<a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-1" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge badge-primary nav-unread"></span></a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
										<ul class="list-unstyled feeds_widget">
											<li>
												<div class="feeds-left"><i class="fa fa-check"></i></div>
												<div class="feeds-body">
													<h4 class="title text-danger">NEW RELEASE <small class="float-right text-muted">01:05</small></h4>
													<small>Zeltoria REST API UPDATE</small>
												</div>
											</li>                                
										</ul>
										<div class="dropdown-divider"></div>
										<a href="javascript:void(0)" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
									</div>
								</div>
								<div class="dropdown d-flex">
									<a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-1" data-toggle="dropdown"><i class="fa fa-user"></i></a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
										<a class="dropdown-item" href="/logout"><i class="dropdown-icon fe fe-log-out"></i> Sign out</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section-body">
				<div class="container-fluid">
					<div class="row clearfix">
						<div class="col-12 col-sm-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">AI FEATURE</h3>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover table-striped mb-0 text-nowrap">
											<thead>
												<tr>
													<th>Feature</th>
													<th>Kategori</th>
													<th>Status</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr>
                          <td>Remini</td>
													<td>Ai</td>
													<td>Aktif</td>
													<td><a href="/api/ai/remini?url=https://assets.ayobandung.com/crop/0x0:0x0/750x500/webp/photo/2023/02/20/MOTOR-2-3104902642.png&apikey=<%= apikey %>" class="fa fa-space-shuttle"> Execute</a></td>
												  </tr>
												  <tr>
													<td>Anime Diffusion</td>
													<td>Ai</td>
													<td>Aktif</td>
													<td><a href="/api/ai/animediffusion?q=highly detailed, intricate, 4k, 8k, sharp focus, detailed hair, detailed&apikey=<%= apikey %>" class="fa fa-space-shuttle"> Execute</a></td>
												  </tr>
												  <tr>
													<td>Anime Diffusion 2</td>
													<td>Ai</td>
													<td>Aktif</td>
													<td><a href="/api/ai/animediffusion2?q=highly detailed, intricate, 4k, 8k, sharp focus, detailed hair, detailed&apikey=<%= apikey %>" class="fa fa-space-shuttle"> Execute</a></td>
												  </tr>
												  <tr>
													<td>Stable Diffusion</td>
													<td>Ai</td>
													<td>Aktif</td>
													<td><a href="/api/ai/stablediffusion?q=highly detailed, intricate, 4k, 8k, sharp focus, detailed hair, detailed&apikey=<%= apikey %>" class="fa fa-space-shuttle"> Execute</a></td>
												  </tr>
												  <tr>
													<td>Openai Image</td>
													<td>Ai</td>
													<td>Aktif</td>
													<td><a href="/api/ai/dall-e?q=a%20cat&apikey=<%= apikey %>" class="fa fa-space-shuttle"> Execute</a></td>
												  </tr>
												  <tr>
													<td>Chat Gpt</td>
													<td>Ai</td>
													<td>Aktif</td>
													<td><a href="/api/others/chatgpt?q=apa%20itu%20ai&apikey=<%= apikey %>" class="fa fa-space-shuttle"> Execute</a></td>
												  </tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section-body">
				<footer class="footer">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								Copyright © 2023 By <a href="https://api.reinaja.my.id">RellXyz</a>.
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
<%- include('template/footer') %>